sample-as2-x12/src/main/app/customer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cluster="http://www.mulesoft.org/schema/mule/ee/cluster" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:as2="http://www.mulesoft.org/schema/mule/as2" xmlns:x12-edi="http://www.mulesoft.org/schema/mule/x12-edi" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/as2 http://www.mulesoft.org/schema/mule/as2/current/mule-as2.xsd
http://www.mulesoft.org/schema/mule/x12-edi http://www.mulesoft.org/schema/mule/x12-edi/current/mule-x12-edi.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:connector name="receive-http-connector" cookieSpec="netscape" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="HTTP-HTTPS"/>
    <http:endpoint exchange-pattern="request-response" host="localhost" port="8081" path="x12-997" connector-ref="receive-http-connector" method="POST" name="receive-http-endpoint" doc:name="HTTP"/>
    <http:connector name="send-http-connector" cookieSpec="netscape" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="HTTP-HTTPS"/>
    <http:endpoint exchange-pattern="request-response" host="localhost" port="8082" path="x12-850" connector-ref="send-http-connector" method="POST" name="send-http-endpoint" doc:name="HTTP"/>
    <as2:config name="receive-as2-config" httpEndpointRef="receive-http-endpoint" doc:name="AS2: Configuration"/>
    <as2:config name="send-as2-config" httpEndpointRef="send-http-endpoint" doc:name="AS2: Configuration"/>
    <x12-edi:config name="X12_EDI" interchangeIdQualifierSelf="ZZ" interchangeIdSelf="MOUNTAINOUT" groupIdSelf="MOUNTAINOUT" interchangeIdQualifierPartner="ZZ" interchangeIdPartner="MY-SUPPLIER" groupIdPartner="MY-SUPPLIER" doc:name="X12 EDI">
        <x12-edi:schemas>
            <x12-edi:schema>/x12/005010/850.esl</x12-edi:schema>
        </x12-edi:schemas>
    </x12-edi:config>
    <configuration doc:name="Configuration">
      <expression-language>
          <global-functions>
                  def convertToDecimal(value){
                      return new BigDecimal(value);
                  }
                  def convertToDate(value){                  	
                  	java.text.SimpleDateFormat sdf = new java.text.SimpleDateFormat('yyyyMMdd');                  	
                  	return sdf.parse(value.replaceAll("-",""));
                  }
             </global-functions>
      </expression-language>
  </configuration>
    <flow name="send-850-to-supplier">
        <file:inbound-endpoint path="D:\poc\b2b\output" responseTimeout="10000" doc:name="File"/>
        <dw:transform-message metadata:id="5a4cf434-aa38-4385-91ba-3d97b68c701f" doc:name="PO XML to 850 X12">
            <dw:input-payload mimeType="application/xml" doc:sample="sample_data\PurchaseOrder.xml"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	TransactionSets: {
		v005010: {
			"850": [{
				Heading: {
					"0200_BEG": {
						BEG01: '00',
						BEG02: 'NE',
						BEG03: payload.PurchaseOrder.@PurchaseOrderNumber as :string,
						BEG05: convertToDate(payload.PurchaseOrder.@OrderDate)						
					}
				},
				Detail: {
					"0100_PO1_Loop": payload.PurchaseOrder.Items.*Item map ((item , indexOfItem) -> {
						"0100_PO1": {
							PO102: item.Quantity as :number,
							PO104: convertToDecimal(item.USPrice),
							PO107: item.@PartNumber
						}
					})
				},
				Summary: {
					"0100_CTT_Loop": {
						"0200_AMT": {
							AMT01: "TT",							
							AMT02: convertToDecimal(payload.PurchaseOrder.TotalPrice)
						}
					}
				}
			}]
		}
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <x12-edi:write config-ref="X12_EDI" doc:name="X12 EDI"/>
        <as2:send config-ref="send-as2-config" as2From="MOUNTAINOUT" as2To="MY-SUPPLIER" doc:name="AS2"/>
    </flow>
    <flow name="receive-997-from-supplier">
        <as2:receive config-ref="receive-as2-config" doc:name="AS2 (Streaming)"/>
        <x12-edi:read config-ref="X12_EDI" doc:name="X12 EDI"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
