sample-basicauth/src/main/app/sample-basicauth.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<flow name="sample-basicauthFlow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="/test" doc:name="HTTP" />
		<set-payload
			value="#[message.inboundProperties['authorization'].replaceAll('Basic ','')]"
			doc:name="basic auth as payload" />
		<base64-decoder-transformer />
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
<!-- 		<set-payload value="#[groovy:message.getPayloadAsString()]"	doc:name="payload as string" /> -->
		<set-variable variableName="userName"
			value="#[payload.split(':').size() > 0 ? payload.split(':')[0] : '']"
			doc:name="extract user name" />
		<set-variable variableName="password"
			value="#[payload.split(':').size() > 0 ? payload.split(':')[1] : '']"
			doc:name="extract password" />
		<logger message="User: #[userName]   Password: #[password]"
			level="INFO" doc:name="Logger" />
	</flow>
</mule>
